{
  "presets": ["es2015"],
  "env": {
    "test": {
      "presets": ["power-assert"]
    }
  },
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas"
  ]
}
